@model Restoran.Models.RESTORAN

@{
    ViewBag.Title = "Detalji o restoranu";
}

<h2>O restoranu</h2>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAZIV_RESTORANA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZIV_RESTORANA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRESA_RESTORANA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRESA_RESTORANA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAIL_RESTORANA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIL_RESTORANA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFON_RESTORANA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFON_RESTORANA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROSECNA_OCENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROSECNA_OCENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPIS_RESTPRANA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS_RESTPRANA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_RESTORANA }) |
    @Html.ActionLink("Povratak nazad", "Index")
</p>
